.profile__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  color: white;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .profile__text {
    font-size: 14px;
    text-align: center;
  }
}