.profile__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

@media screen and (max-width: 320px) {
  .profile__container {
    max-width: 282px;
    margin-bottom: 36px;
  }
}