.footer {
  max-width: 318px;
  margin: 67px 762px 60px 200px;
}

@media screen and (max-width: 1024px) {
  .footer {
    margin: 67px 600px 60px 200px;
  }
}

@media screen and (max-width: 769px) {
  .footer {
    margin: 67px 100px 60px 100px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 282px;
    margin: 0 19px 36px 19px;
  }
}